<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Приложение на backbone.js</title>
<link rel="stylesheet" href="css/main.css" />
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>

<script src="js/main.js"></script>
</head>
<body>

<div class="content">Контент:</div>

<form id="addBook">
<input type="text" name="newTitle" placeholder="Название книги" />
<input type="submit" value="Добавить книгу в коллекцию" />
 </form>

 <p>Новая строка!</p>

<script type="text/template" id="booksTpl">
<span><b>Название книги:</b> <%= name %> <input type="text" name="title" /><button name="save">Сохранить</button><button name="delete">Удалить</button></span>
<span><b>Имя автора:</b> <%= author %></span> <span><b>Год издания книги:</b> <%= year %></span> <span><b>Количество страниц:</b> <%=pages%></span>
</script>

</body>
</html>